<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>verTeX / home</title>
</head>

<body id="home">

<h1>${_('What can you do with verTeX?')}</h1>

<ul>
    <li>
        <h3 style="margin-bottom: 0;"><a href="${tg.url('/projects/add/')}">${_('Create a new project')}</a></h3>
        ${_('Start writing your next article and enjoy all of verTeX collaborative capabilities')}.
    </li>
    <li py:if="projects">
        <h3 style="margin-bottom: 0;">${_('Check the status of your projects')}</h3>
        ${_('There are the projects you\'re involved with.')}<br/><br/>
        <py:for each="project in projects">
            &raquo; <a href="${tg.url('/editor/workspace/%s' % project.id)}">${project.title}</a><br/>
        </py:for>
    </li>
</ul>

</body>
</html>