<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>verTeX</title>
</head>

<body id="pg_login">

	<div id="loginform">
		<form action="${tg.url('/login_handler', came_from = came_from.encode('utf-8'), __logins = login_counter.encode('utf-8'))}" method="POST" class="loginfields">
		    <h2>verTeX login</h2>
		    <label for="login">${_('E-mail address')}:</label><br />
		    <input type="text" id="login" name="login" class="textfield" /><br /><br />
		    <label for="password">${_('Password')}:</label><br />
		    <input type="password" id="password" name="password" class="passwordfield" /><br /><br />
		    <input type="submit" id="submit" value="Login" class="submitbutton" /><br /><br />
		</form>
	</div>
	
	<div id="aboutvertex" class="clearfix" style="text-align: justify;">
	   <div id="aboutvertex_en" class="aboutvertex_explanation">
		   <h3>What is verTeX?</h3>
		    <p>verTeX is a web application specially designed for collaborative writing of scientific texts requiring a lot of mathematical symbols. Based on the LaTeX typesetting system, verTeX gives the best typographic quality possible.</p>
		    <p>verTeX is free software and as such anybody can copy, distribute and modify its source code. verTeX organizes your files in projects, keeps a revision history of all of the changes made to them and has a rich editor with syntax highlighting for LaTeX code.</p>
	   </div>
	
	   <div id="aboutvertex_es" class="aboutvertex_explanation">
		   <h3>Qué es verTeX?</h3>
		    <p>VerTeX es un aplicativo web especialmente preparado para la edición colaborativa de textos científicos en los que se requieren símbolos matemáticos. Está basado en el sistema LaTeX y por tanto proporciona la mejor calidad en materia tipográfica.</p>
	        <p>VerTeX es software libre y por tanto cualquier usuario lo puede copiar, distribuir o modificar. Posee un editor especializado, está organizado con base en proyectos y posee un control de versiones que facilita el trabajo de varias personas en el mismo documento.</p>
        </div>
	</div>

</body>
</html>
