/* YUI reset */
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #000;
    background: #fff;
}

h1 {
    font-size: 148.5%;
    color: #99cc00;
}

h2 {
    font-size: 120%;
    color: #696969;
}

h3 {
    font-size: 108%;  
}


h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: monaco, monospace;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}

blockquote, ul, ol, dl {
    margin: 1em 1em 1em 25px;
}

ol li {
    list-style: decimal outside;
}

ul li {
    list-style: disc outside;
}

p, fieldset, table {
    margin-bottom: 1em;
}

table td, table th {
    font-size: 13px;
}

p {
    line-height: 1.4em;
}

ul, li {
    margin: 0;
	padding: 0;
}

img {
    border: none;
    vertical-align: middle;
}

/* verTeX */
a {
    text-decoration: none;
    color: #1161d9;
}

a:hover {
    text-decoration: underline;
}

.vDropDownMenu {
    padding: 5px 10px;
    background: #fff;
    border: solid 1px #1161d9;
}

.vDropDownMenu li {
    display: block !important;
    list-style-type: none !important;
    margin-bottom: 5px !important;
}

div#wrapper {
    width: 1000px;
    height: 100%;
    margin: auto;
}

div#footer {
    display: block;
    clear: both;
    font-size: 0.8em;
    padding: 5px 30px;
    background: #696969;
    color: #fff;
    border-top: solid 1px #efefef;
}

div#footer a {
    color: #eee;
    font-weight: bold;
}

div#top {
    margin-top: 2px;
    margin-bottom: 20px;
    background: #eee;
    padding: 5px;
    border-bottom: solid 1px #ddd;
}

ul#menu {
    float: right;
    margin-right: 10px;
}

ul#menu li {
	list-style-type: none;
    display: inline;
    margin-right: 5px;
}

ul.hlist li {
	list-style-type: none;
	display: block;
	float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* Flash messages */
div#flash {
	width: 600px;
	position: fixed;
	top: 2px;
	left: 300px;
	z-index: 999;
}

div#flash > div {
	padding: 5px 0 5px 40px;
    -moz-border-radius: 3px;
}

div#flash > div.ok {
	background: #DCE4EF url('/images/icons/information.png') no-repeat 10px 50%;
}

div#flash > div.waiting {
    background: #FAB65A;
    color: #fff;
}

div#flash > div.warning {
    background: #EBEF61 url('/images/icons/error.png') no-repeat 10px 50%;
}

div#flash > div.error {
    background: #F1A498 url('/images/icons/exclamation.png') no-repeat 10px 50%;
}

dl.info dt {
    color: #595959;
}

dl.info dd {
    margin-left: 20px;
}

/* Horiz. selector */
ul.hselector li {
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
}

ul.hselector li > a {
	text-decoration: none;
    padding: 4px;
    font-weight: bold;
}

ul.hselector li.active > a {
	background: #900000;
	-moz-border-radius: 5px;
	color: #fff;
}

/* Editor */
div#editor_area_wrapper {
    margin: 2px 0 0 0;
    border-top: solid 1px #bec6d1;
    border-bottom: solid 1px #bec6d1;
}

div#editor_area_wrapper .CodeMirror-line-numbers {
    font-size: 13px;
    font-family: monospace;
    background: #d5deeb;
    padding: 0 2px;
    min-width: 25px;
    border-right: solid 1px #bec6d1;
    margin-right: 5px;
}

/* Login */
body#pg_login div#content {
	width: 800px;
	margin: 80px auto;
}

body#pg_login div#loginform {
	float: left;
	width: 300px;
	text-align: center;
}

body#pg_login div#aboutvertex {
    width: 470px;
    float: left;
    border-left: dotted 1px #ddd;
    padding-left: 29px;
}

/* Workspace */
div.editor-workspace div.workspace-sidebar {
    width: 200px;
    float: left;
    padding: 0;
    margin: 0;
    border-right: solid 1px #ddd;
    font-size: 0.95em;
}

div.workspace-sidebar ul.project-file-list li > img {
	float: left;
	margin-right: 3px;
}

div.editor-workspace div.workspace-editing-area {
    width: 780px;
    float: right;
    padding-bottom: 50px;
}

div#editing-area-tab-content {
}

ul.action-bar li {
    border: solid 1px #ccc;
    height: 20px;
    text-align: center;
    background: #eee;
    padding: 2px 2px 0 2px;
    text-align: center;
	-moz-border-radius: 2px;
}

ul.action-bar li > a {
	text-decoration: none;
}

ul.action-bar li.spacer {
	width: 5px;
	border: none !important;
	background: #fff !important;
}

ul.action-bar li > a {
    color: #494949;
}

ul.action-bar li:hover {
    border: solid 1px #aaa;
}

ul.action-bar li:hover > a {
    color: #000;
}

div.project-sidebar {
    height: 100%;
}

ul#project-sidebar-actions {
    margin-top: 10px;
}

ul.project-file-list {
    margin-top: 20px;
}

ul.project-file-list li {
    list-style: none;
    padding: 0 0 2px 4px;
    border-bottom: solid 1px #efefef;
    margin: 0 0 3px 0;
}

ul.project-file-list li.active {
    background: #efe;
}

ul.project-file-list li > a {
    display: block;
}

/* Tabs */
ul.tabs {
	display: block;
	border-bottom: solid 1px #67D321;
}

ul.tabs li {
	padding: 2px 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	background: #ddd;
	margin-right: 2px;
	display: inline-block;
}

ul.tabs li a {
	color: #494949;
}

ul.tabs li.active a {
	color: #fff;
}

ul.tabs li.active {
	background: #67d321;
}

/* Revisions */
#revisions-index .revisions-list {
    margin-top: 20px;
}

#revisions-index .revisions-list > ul {
	padding-left: 20px;
}

#revisions-index .revisions-list div.compare-radios {
	display: inline;
	padding-left: 10px;
	font-size: 10px;
}

#revisions-index div#compare-window {
	width: 800px;
	border: solid 2px #67a321;
	min-height: 400px;
	position: absolute;
	overflow: auto;
	padding: 10px;
	font-size: 10px;
	background: #fff;
}


div#revision-comparison table {
	min-width: 100%;
}

div#revision-comparison table thead {
	background: #eaead5;
}

div#revision-comparison table thead th {
	font-weight: normal;
	padding: 2px 5px;
}

div#revision-comparison table td, div#revision-comparison table th {
	padding: 2px;
}

#revisions-index div.revision-inline-editor {
	margin-top: 10px;
	border-left: solid 5px #eee;
	padding-left: 10px;
	margin-bottom: 5px;
}

/* Editor output */
div#editor-misc-output {
	margin-top: 5px;
	border-top: solid 1px #494949;
	background: #efefef;
}

div#editor-misc-output div.header {
	background: #67d321;
	padding: 3px 5px;
    border-bottom: solid 1px #fff;
}

div#editor-misc-output div.header h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 11px;
	display: inline;
	color: #fff;
}

div#editor-misc-output div.header ul {
	float: right;
	margin: 0;
	padding: 0;
}

div#editor-misc-output div.header ul li {
	margin-right: 5px;
	padding-right: 5px;
	border-right: dotted 1px #fff;
}

div#editor-misc-output div.header ul li.active > a {
	color: #000;
}

div#editor-misc-output div.header ul li.close-link {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

div#editor-misc-output div.content {
	clear: both;
	padding: 5px 5px 2px 20px;
}

/* Editor toolbars */
ul#editor-toolbar-main-actions {
    margin-top: 5px;
}

ul#editor-toolbar-editing-actions {
    margin-top: 20px;
}

ul#editor-toolbar-editing-actions li {
	height: 17px;
	margin: 0 1px 0 0;
	padding: 1px;
	background: #CFE4FC;
	border: solid 1px #5C8CD4;
}

ul#editor-binary-actions {
    margin-top: 10px;
}

/* Symbol list */
div#editor-latex-symbols {
	width: 200px;
	border: solid 1px #5c8cd4;
	background: #CFE4FC !important;
	padding: 2px;
	z-index: 999;
}

div#editor-latex-symbols span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	padding: 1px 0 0 7px;
	background: #5c8cd4;
	color: #fff;
	display: block;
}

div#editor-latex-symbols ul {
	background: #fff;
	margin: 1px 0 5px 0;
}

div#editor-latex-symbols li {
	list-style-type: none;
	width: 20px;
	height: 20px;
	text-align: center;
	display: inline-block !important;
}

/* forms */
form input {
    font-family: inherit;
    font-size: inherit;
}

form input.textfield, form input.passwordfield, form select, form textarea {
    padding: 2px 4px;
    border: solid 1px #999;
}

form input.textfield:focus, input.passwordfield:focus, form select:focus, form textarea:focus {
    background: #ffffcc;
}

form input.submitbutton {
    padding: 2px 8px 4px;
    background: #BBB url(/images/buttons-bg.png) 0 0 repeat-x;
    border: solid 1px #AAA;
    border-bottom-color: #888;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
    color: #555;
}

form input.submitbutton:hover, form input.submitbutton:focus {
    color: #000;
}

form input.checkbox {
    margin: 10px 0 0;
}

form td {
    padding-bottom: 4px;
    vertical-align: top;
}

form td.labelcol {
    padding-right: 10px;
}

form td.labelcol label {
    font-weight: bold;
}

form td.labelcol label:after {
    content: ':';
}

form span.fielderror:before {
    content: '[';
    margin-right: 2px;
}

form span.fielderror:after {
    content: ']';
    margin-left: 2px;
}

form span.fieldhelp {
    vertical-align: top;    
    color: #999;
}

form span.fielderror {
    vertical-align: top;    
    margin-left: 20px;
    color: #cc0033;
}

form input.invalid {
    border-color: #cc0033;
}

/* page forms */
form#add_blank_file_form, form#import_file_form {
    margin-left: 20px;
}

form#invite_people_form {
    margin-top: 10px;
}

form#update_file_form {
    margin-top: 30px;
    border: dotted 1px #ccc;
    padding: 10px;
}


/* login page */
div#aboutvertex .aboutvertex_explanation {
    color: #494949;
    border-bottom: solid 1px #eee;
}