<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude" py:with="project =  file.project;">
     
<xi:include href="../projects/workspace.html" />
     
<body id="editor-edit">
	<div id="editing-area-${file.id}">
	     
	    <div class="editing-area-tabs">
	        <ul id="_eamenu" class="hlist tabs clearfix">
	            <li class="active"><a href="${tg.url('/editor/edit/%s' % file.id)}">${_('Editor')}</a></li>
	            <li><a href="${tg.url('/files/revisions/%s' % file.id)}">${_('File History')}</a></li>
	        </ul>
	    </div>
	    
	    <div id="editing-area-tab-content"
	         py:with="open_readonly = (revision is not None);"><!--! FIXME: this is kinda-hack useful for now  -->

		     <py:choose test="file.is_binary">
		        <xi:include py:when="" href="editor-binary.html" />
		        <xi:include py:otherwise="" href="editor-latex.html" />
		    </py:choose>

	    </div>

	</div>
</body>

</html>