<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     class="project-sidebar"
     id="project-sidebar-${project.id}">

    <b style="text-transform: uppercase; font-size: 12px;">${project.title}</b>
    
    <ul id="project-sidebar-actions" class="hlist action-bar clearfix">
        <li>
            <a href="${tg.url('/editor/new/%s' % project.id)}" rel="editor_new">
            <img src="${tg.url('/images/icons/page_add.png')}" /> <span>Nuevo Archivo</span>
            </a>
        </li>
        <li>
            <a href="${tg.url('/projects/overview/%s' % project.id)}" rel="project_settings">
                <img src="${tg.url('/images/icons/wrench.png')}" /> <span>Config. Proyecto</span></a>
        </li>
    </ul>

    <ul class="project-file-list">
        <li py:if="not project.files">No hay archivos aún en el proyecto: desea <a href="">crear uno?</a></li>
        <li py:for="file in project.files">
            <py:choose test="file.content_type.startswith('image')">
                <img py:when="True" src="${tg.url('/images/icons/picture.png')}" />
                <img py:otherwise="" src="${tg.url('/images/icons/page_white_text.png')}" />
            </py:choose>
            <a href="${tg.url('/editor/edit/%s' % file.id)}" rel="f_${file.filename}">${file.filename}</a>
            
        </li>
    </ul>
    

</div>
