<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     class="editor"
     id="editor-file-${file.id}">

    <div class="toolbar">
        [<a href="${tg.url('/files/save/%s' % file.id)}" class="save-button">Guardar</a>] | 
        [<a href="${tg.url('/files/compile/%s' % file.id)}" class="compile-button">Compilar</a>]
        <span class="download-buttons" style="visibility: ${(file.compiled_dvi is None) and 'hidden' or 'visible'};">
        | [Descargar como: <a href="${tg.url('/files/download/%s/dvi' % file.id)}">DVI</a>, <a href="${tg.url('/files/download/%s/ps' % file.id)}">PS</a>, <a href="${tg.url('/files/download/%s/pdf' % file.id)}">PDF</a>] 
        </span>
    </div>
    
    <br/>

    <div class="editor-sidebar">
	
	
        <div class="editor-symbol-list">        
        </div>
    </div>

    <script type="text/javascript">
/*    		editAreaLoader.init({
			id: "file-${file.id}-editor"	// id of the textarea to transform		
			,start_highlight: true		// if start with highlight
			,allow_resize: "both"
			,allow_toggle: false
			,word_wrap: true
			,language: "en"
			,syntax: "latex"
			,is_multi_files: false	
		});*/
		//FIXME: Esta variable se utiliza para capturar el contenido del editor. En el archivo /js/editor.js se explica como se usa.
		//Es posible que haya una mejor manera de hacerlo.
		var file_id = ${file.id};
    </script>

    <div class="editor-area-wrapper">
		<div>
			<input name="black" type="button" value="B" onClick="testButton('B')"/>  
			<input name="italic" type="button" value=" I " onClick="testButton('I')"/> 
			<input name="underline" type="button" value=" U" onClick="testButton('U')"/>
			
			<input name="align_center" type="button" value="C" onClick="testButton('C')"/>  
			<input name="align_left" type="button" value=" L " onClick="testButton('L')"/> 
			<input name="align_right" type="button" value=" R " onClick="testButton('R')"/>
			<input name="align_justify" type="button" value=" J " onClick="testButton('J')"/>

			<input name="itemize" type="button" value="itemize" onClick="testButton('item')"/>
			<input name="enumerate" type="button" value="enumerate" onClick="testButton('enum')"/>
		</div>
	    	<textarea id="file-${file.id}-editor" class="editor-area">${file.content}</textarea>
    </div>  
    
    <p style="clear: left;"></p>   
    
    <script type="text/javascript" src="${tg.url('/js/editor.js')}"></script>
</div>
